{% extends "base.html" %}
{% block title %}
    login
{% endblock %}
{% block content %}

<h3 align="center">login</h3>
    <form method="POST">
        <table class="layout">
            <tr>
                <div align="left">
                    <td>username&nbsp;</td>
                </div>
                <td colspan="2">
                    <input type="text" id="username" pattern="[A-Za-z0-9_?\.]{1,20}" title="username, not email"autofocus="autofocus" name="username" class="form-control" maxlength="20" placeholder="username" required="required"/>
                </td>
            </tr>
            <tr>
                <div align="left">
                    <td>password&nbsp;</td>
                </div>
                <td colspan="2">
                    <input type="password" id="password" name="password" maxlength="20" pattern=".{8,100}" class="form-control" placeholder="password" required="required"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" id="keeplogged" name="keeplogged" value="0" required="required"/><label for="keeplogged">&nbsp;Remember me</label>
                </td>
                <td>
                    <div align="right">
                        <button class="btn btn-primary" type="submit">login</button>
                    </div>
                </td>
            </tr>
        </table>       
    </form>
{% endblock %}