{% extends "base.html" %}
{% block title %}
    register
{% endblock %}
{% block content %}
    <form method="POST">
        <h3 align="center">register</h3>
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="username"/>
            <label for="password1">password</label>
            <input type="password" id="password1" name="password1" class="form-control" placeholder="password"/>
            <label for="password2">re-enter password</label>
            <input type="password" id="password2" name="password2" class="form-control" placeholder="password"/>
            <br/>
            <div align="right">
                <button class="btn btn-primary" type="submit">create account</button>
            </div>
        </div>
    </form>
{% endblock %}